[user]
  name = Alex Tareshawty
  email = alex@tareshawty.com
[alias]
  aa = add -A
  amend = commit --amend --no-edit
  br = branch
  co = checkout
  cob = checkout -b
  com = checkout master
  cp = cherry-pick
  d = diff
  ds = diff --staged
  hist = log --graph
  logfp = log --first-parent
  st = status
